@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <form action="/HelloWorld">
        <div class="form-group">
            <div class="mb-3">
                <label for="name">Insira o nome:</label>
                <input type="text" class="form-control" name="name" id="input">
            </div>
            <div class="mb-3">
                <label for="age">Insira a idade:</label>
                <input type="number" class="form-control" name="age" id="input">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-info">Enviar</button>
            </div>
        </div>
    </form>
</div>

<div>
    <p>---------------- Arquivos Encaminhados ----------------</p>
</div>
